<?xml version="1.0" encoding="UTF-8"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="Sydbanen">
  <stations name="Hillerod" legs="//@legs.0 //@legs.1"/>
  <stations name="Holte" legs="//@legs.0 //@legs.1 //@legs.2"/>
  <stations name="Lyngby" legs="//@legs.2"/>
  <legs name="HillerodEast" distance="12" stations="//@stations.1 //@stations.0"/>
  <legs name="HillerodWest" distance="10" stations="//@stations.1 //@stations.0"/>
  <legs name="LyngbyHolte" distance="20" stations="//@stations.2 //@stations.1"/>
</network:Network>
