<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.mdse.pts.schedule.interpreter.eclipse.launch.ScheduleLaunchShortcut"
            description="Interprets a schedule to a timetable"
            icon="icons/timetable.png"
            id="org.mdse.pts.schedule.interpreter.eclipse.launch.ScheduleLaunchShortcutType"
            label="Interpret Schedule to Timetable"
            modes="run">
	            <contextuallaunch>
		           <enablement>
		             <with variable="selection">
		               <count value="1">
			               <iterate ifempty="false" operator="and">
			                  <adapt type="org.eclipse.core.resources.IFile">
				                    <test property="org.eclipse.debug.ui.matchesPattern" value="*.schedule">
				               		</test>
			               		</adapt>
			           		</iterate>
			             </count>
		             </with>
	           	</enablement>
	           <contextlabel mode="run" label="Interpret Schedule to Timetable">
     		   </contextlabel>
         </contextuallaunch>
      </shortcut>
   </extension>

</plugin>
