<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Timetable -->
      <package
            uri="http://mdse.org/pts/timetable"
            class="org.mdse.pts.timetable.TimetablePackage"
            genModel="model/Timetable.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Timetable -->
      <package
            uri="http://mdse.org/pts/common"
            class="org.mdse.pts.common.CommonPackage"
            genModel="model/Timetable.genmodel"/>
   </extension>

</plugin>
