<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.mdse.pts.network.dsl.Activator"
               id="org.mdse.pts.network.dsl"
	       name="Network">
    </component>
  </extension>
</plugin>
