<?xml version="1.0" encoding="UTF-8"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="My">
  <stations name="1" legs="//@legs.0 //@legs.1"/>
  <stations name="2" legs="//@legs.1 //@legs.0"/>
  <legs name="l1" distance="10" station1="//@stations.0" station2="//@stations.1"/>
  <legs name="l2" distance="10" station1="//@stations.0" station2="//@stations.1"/>
</network:Network>
