<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StationPlan -->
      <package
            uri="http://mdse.org/gt/stationplan"
            class="org.mdse.gt.stationplan.StationplanPackage"
            genModel="model/StationPlan.genmodel"/>
   </extension>

</plugin>
