<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Depot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mdse.pts.depot.presentation.DepotModelWizardID"
            name="%_UI_DepotModelWizard_label"
            class="org.mdse.pts.depot.presentation.DepotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DepotModelFile.gif">
         <description>%_UI_DepotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Depot -->
      <editor
            id="org.mdse.pts.depot.presentation.DepotEditorID"
            name="%_UI_DepotEditor_label"
            icon="icons/full/obj16/DepotModelFile.gif"
            extensions="depot"
            class="org.mdse.pts.depot.presentation.DepotEditor"
            contributorClass="org.mdse.pts.depot.presentation.DepotActionBarContributor">
      </editor>
   </extension>

</plugin>
